.list-top{
    background: #fdfdfd;
    display: flex;
    align-items: center;
    padding: 5;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.list{
    background: #fdfdfd;
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0;
    margin-top: -1px;
    margin-right: 20px;
    margin-left: 20px;
}

.erstellen{
    display: flex;
    background: #fdfdfd;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 128px rgba(0, 0, 0, 0.1), 0;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
}

.erstellen-möglichkeiten{
    width: 50%;
    float: left;

    margin-top: 10px;
}

.erstellen-Lösung{
    width: 50%;
    float: right;

    margin-top: 10px;
}

.profil{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0;
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}