body{
    min-width: 400px;
}

.dashboard-hauptfächer{
    width: 50%;
    float: left;
    margin-top: 10px;
}

.dashboard-nebenfächer{
    width: 50%;
    float: right;
    margin-top: 10px;
}

.dashboard{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    cursor: pointer;
}

.li-dashboard, li{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scoreboard{
    background: #fdfdfd;
    align-items: center;
    justify-content: center;
    padding: 5;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0;
    margin-top: 5px;
    width: 100%;
    display: table;
}

.scoreboard th, .scoreboard td{
    padding: 10px;
    text-align: center;
}

.profil{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0;
    margin-top: 5px;
}