body{
    font-family: Arial, sans-serif;
    margin: 0;
    background: #e4e9f7;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    margin-top: 1px;
    border-radius: 20px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

.content{
    flex: 1;
}

.footer{
    background: #fdfdfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 10px;
    margin-top: 1px;
    border-radius: 20px;
    box-shadow: 0 0 128px o rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

ul{
    display: flex;
    justify-content: center;
    list-style: none;
    width: 97%;
}

li{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: x-large;
}

p{
    color: #000000;
    font-weight: bold;
    font-size: large;
}

button{
    height: 35px;
    background: rgba(8, 214, 255, 0.808);
    border: 0;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    transition: all .3s;
    margin-top: 10px;
    padding: 0px 10px;
    font-weight: bold;
    font-size: large;
}

select{
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

textarea{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    font-weight: bold;
}