body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #ffffff;
    height: 60px;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #000000;
    top: 10px;
    left: 20px;
}

.footer-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 40px);
    padding: 10px;
    background-color: #ffffff;
    height: 60px;
    border: 3px solid;
    border-radius: 10px;
    box-shadow: 10px 5px 5px #000000;
    bottom: 10px;
    left: 20px;
}

main {
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}

.footer {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.footer li {
    flex-grow: 1;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: #000000;
}

iframe {
    position: absolute;
    border: none;
    top: 70px;
    left: 20px;
    right: 20px;
    bottom: 70px;
    width: calc(100% - 40px);
    height: calc(100% - 140px);
    min-height: 300px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .header-container,
    .footer-container {
        width: calc(100% - 40px);
    }

    .footer {
        flex-direction: row;
        align-items: center;
    }

    .footer li {
        margin: 0 10px;
    }

    iframe {
        height: calc(100% - 140px);
    }
}

@media (max-width: 480px) {
    h3 {
        font-size: 1.5em;
    }

    .footer a {
        font-size: 0.9em;
    }

    iframe {
        min-height: 200px;
    }
}
