body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
}

.page-container {
    display: flex;
    position: relative;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    position: fixed;
    display: flex;
    width: 99%;
    padding: 10px 0;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 60px;

    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    /*
      TODO: margin-right funktioniert nicht
    */
    margin-top: 5px;
    margin-right: 20px;
    margin-left: 20px;
}


.header {
    padding: 10px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

main {
    flex-grow: 1;
    padding-top: 70px;
    padding-bottom: 70px;
}

.footer-container {
    position: fixed;
    display: flex;
    bottom: 0;
    width: 99%;
    padding: 10px 0;
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    height: 60px;

    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    box-shadow: 10px 5px 5px black;
    /*
      TODO: margin right  funktioniert nicht
    */
    margin-bottom: 5px;
    margin-right: 20px;
    margin-left: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 100%;
}

.footer li {
    flex-grow: 1;
    text-align: center;
}

.footer a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    color: #000000;
}

iframe{
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    height: 810px;
}